@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

#container {
	text-align: center;
}
#game-board {
	border: 3px solid;
}
#score-board {
	font-family: "Source Code Pro", monospace;
	font-size: 50px;
}
#reset-button {
	padding: 5px;
	border: 2px solid;
	border-radius: 5%;
	font-size: 20px;
	cursor: pointer;
}
#high-score-title {
	font-family: "Source Code Pro", monospace;
	font-weight: bolder;
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	padding-right: 250px;
}
#high-score-board {
	font-family: "Source Code Pro", monospace;
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	padding-right: 220px;
}
